
<div class="body-container">
    <div class="columns bt m0">
        
        
        <!-- left column -->
        <div class="column body-left is-3 br p2em pl0 border-br" id="col-l">
            
            
            <!-- left column (store list) -->
            <ng-container *ngIf="!addStoreMode">
                <!-- search input field -->
                <div class="field">
                    <div class="control">
                        <input 
                            class="input pl0 italic" 
                            type="search" 
                            placeholder="Search..."
                            [(ngModel)]="storeQuery"
                            name="filter">
                    </div>
                </div>
    
                <!-- each store -->
                <div *ngFor="let store of stores | keyvalue | filter:storeQuery">
                    
                    <a class="main-button" (click)="toggleStore(store.value.path)" [class.active]="state.store === store.value.path">
                        <div class="lv"> <div class="centre">{{store.value.name}}</div> </div>
                        <div>
                            <div class="button-icon">
                                <i class="fas fa-bolt" (click)="mainService.updateState({store: store.value.path}, true)"></i>
                            </div>
                            <div class="bottom-right">
                                <i class="fas fa-trash" (click)="deleteStore(store.key); $event.stopPropagation()"></i>
                            </div>
                        </div>
                  
                    </a>
                    
                </div>

                <!-- new store trigger -->
                <a class="bold_link" (click)="addStoreMode = true">Add New Store</a>
            </ng-container>

            <!-- add store form -->
            <form *ngIf="addStoreMode" class="style-1">
                <!-- name -->
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                    <input class="input" type="text" placeholder="Store Name..." [(ngModel)]="newStore.name" name="name">
                  </div>
                </div>
                
                <!-- path -->
                <div class="field">
                    <label class="label">Path</label>
                    <div class="control">
                    <input class="input" type="text" placeholder="Base Path..." [(ngModel)]="newStore.path" name="path">
                  </div>
                </div>

                <!-- submit -->
                <a class="button db" (click)="addStore()">Add Store</a>

                <!-- close form -->
                <a class="bold_link" (click)="goBack()">Back</a>
            </form>

        </div>



        <!-- right column -->
        <div class="column body-right p2em pr0 border-br pr" id="col-r"  *ngIf="state.store">
            <!-- <p class="mono dark bold tac w100 lg" *ngIf="!Store?.length">Choose a store first.</p> -->
            
            <!-- right column (path list) -->
            <ng-container *ngIf="!addPathMode && !editPathMode">
                
                <!-- search input field -->
                <div class="field">
                    <div class="control">
                        <input
                            class="input pl0 italic" 
                            type="search" 
                            placeholder="Search..."
                            [(ngModel)]="pathQuery"
                            name="filter">
                    </div>
                </div>

                
                <div class="columns right-cols is-multiline">

                
                    <!-- each path -->
                    <div class="column is-3 sp" *ngFor="let path of paths | keyvalue | filter:pathQuery">
                        
                        <a class="main-button" (click)="mainService.updateState({path: path.value.path})" [class.active]="state.path === path.value.path">
                            <div class="lv"> <div class="centre">{{path.value.name}}</div> </div>
                            <div>
                                
                                <div class="button-icon">
                                    <i class="fas fa-bolt" (click)="mainService.updateState({path: path.value.path}, true)"></i>
                                </div>
                                <div class="bottom-right">
                                    <i class="fas fa-trash" (click)="deletePath(path.key); $event.stopPropagation()"></i>
                                </div>
                                <div class="top-left">
                                    <i class="far fa-edit" (click)="toggleEdit(path)"></i>
                                </div>
                            </div>                        
                        </a>
                        
                    </div>

                    
                </div>
                <!-- new path trigger -->
                <a class="bold_link" (click)="addPathMode = true">Add New Path</a>
                <!-- <a class="bold_link" (click)="deletePath(path.key)" *ngIf="state.path === path.value?.path">Delete Path</a> -->

            </ng-container>

            <!-- add path form -->
            <form *ngIf="addPathMode || editPathMode" class="style-1">
                <!-- name -->
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                    <input class="input" type="text" placeholder="Path Name..." [(ngModel)]="newPath.name" name="name">
                  </div>
                </div>
                
                <!-- path -->
                <div class="field">
                    <label class="label">Path</label>
                    <div class="control">
                    <input class="input" type="text" placeholder="Base Path..." [(ngModel)]="newPath.path" name="path">
                  </div>
                </div>

                <!-- search term -->
                <div class="field">
                    <label class="label">Search Term</label>
                    <div class="control">
                    <input class="input" type="text" placeholder="Search Term..." [(ngModel)]="newPath.searchTerm" name="searchTerm">
                  </div>
                </div>

                <!-- submit -->
                <a class="button db" (click)="addPath()" *ngIf="addPathMode">Add Path</a>
                <a class="button db" (click)="updatePath(editPathMode.key)" *ngIf="editPathMode">Update Path</a>
                <a class="bold_link" (click)="addPathMode = null; editPathMode = null">Back</a>
            </form>
                

        </div>

    </div>
</div>