
<div class="body-container">
    <div class="columns bt m0">
        <div class="column body-left is-3 br p2em pl0 border-br" id="col-l">
            
            <!-- search input field -->

            <div class="field">
                <div class="control">
                  <input 
                    class="input pl0 italic" 
                    type="text" 
                    placeholder="Search...">
                </div>
            </div>

            <!-- buttons -->

            <div>
                
                <a class="main-button">
                    
                    <div class="lv"> <div class="centre">Le-Vel Gear</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>

                </a>

                <a class="main-button">

                    <div class="lv"> <div class="centre">Shop Nerium</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>

                </a>

                <a class="main-button">

                    <div class="lv"> <div class="centre">WV Gear</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>
                
                </a>

                <a class="main-button">

                    <div class="lv"> <div class="centre">SUCCESS Store</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>

                </a>

                <a class="main-button">

                    <div class="lv"> <div class="centre">Pruvit Gear</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>

                </a>

                <a class="main-button">
                    
                    <div class="lv"> <div class="centre">Shop My TLC</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>
                
                </a>

                <a class="main-button">
                    
                    <div class="lv"> <div class="centre">Jim Rohn Store</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>

                </a>

                <a class="main-button">
                    
                    <div class="lv"> <div class="centre">MyTNSHOP</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>
                
                </a>

                <a class="main-button">
                    
                    <div class="lv"> <div class="centre">Shop Traci Lynn</div> </div>
                    <div class="button-icon"><i class="fas fa-bolt"></i></div>
                
                </a>

            </div>
        </div>
        
        <div class="column body-right p2em pr0 border-br" id="col-r">
            
            <div class="field">
                <div class="control">
                    <input 
                        class="input pl0 italic" 
                        type="text" 
                        placeholder="Search...">
                </div>
            </div>

            <div class="columns right-cols is-multiline">

            
                <!-- Each Path -->
                <div class="column is-3 sp" *ngFor="let path of paths">
                    <a class="main-button">
                        <div class="lv"> <div class="centre">{{path.name}}</div> </div>
                        <div class="button-icon"><i class="fas fa-bolt"></i></div>
                    </a>
                </div>

                
            </div>
                
        </div>

    </div>
</div>