#col-l {
    margin-top: 5px;
    padding-top: 0.5em !important;
}

#col-r {
    margin-top: 5px;
    padding-top: 0.5em !important;
}

.level-center {
    justify-content: center;
}

.level {
    .centre {
        margin: 0 auto;
        width: 100%;
    }
}


.body-right {
    .main-button {
        // height: 70px;
        // width: 175px;
        .level {
            vertical-align: baseline;
        }
    }
}


