
<div class="body-container">
    <div class="columns bt">
        <div class="column body-left is-3 br p2em pl0">
            
            <!-- search input field -->

            <div class="field">
                <div class="control">
                  <input 
                    class="input pl0 italic" 
                    type="text" 
                    placeholder="Search...">
                </div>
            </div>

            <!-- buttons -->

            <div>
                <a class="main-button">Le-Vel Gear<i class="fas fa-bolt"></i></a>
                <a class="main-button">Shop Nerium<i class="fas fa-bolt"></i></a>
                <a class="main-button">WV Gear<i class="fas fa-bolt"></i></a>
                <a class="main-button">SUCCESS Store<i class="fas fa-bolt"></i></a>
                <a class="main-button">Pruvit Gear<i class="fas fa-bolt"></i></a>
                <a class="main-button">Shop My TLC<i class="fas fa-bolt"></i></a>
                <a class="main-button">Jim Rohn Store<i class="fas fa-bolt"></i></a>
                <a class="main-button">MyTNSHOP<i class="fas fa-bolt"></i></a>
                <a class="main-button">Shop Traci Lynn<i class="fas fa-bolt"></i></a>
            </div>
        </div>
    <div class="column body-right p2em pr0">
        <div class="field">
            <div class="control">
              <input 
                class="input pl0 italic" 
                type="text" 
                placeholder="Search...">
            </div>
        </div>
        <div class="columns right-cols is-multiline">
        
            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Dashboard<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Orders<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Orders (Add)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Products<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Products (Add)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Products (Options)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Products (Filtering)<i class="fas fa-bolt"></i></a>
            </div>
            
            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Products (Brands)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Products (Reviews)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Product Categories<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Customers<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Customers (Add)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Customers (Groups)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (My Themes)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Theme Marketplace)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Logo)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Carousel)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Social)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Footer Scripts)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Web Pages)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Blog)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Image Manager)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Storefront (Email Templates)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Marketing (Banners)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Marketing (Coupon Codes)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Marketing (Cart-Level Discounts)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Marketing (Email Marketing)<i class="fas fa-bolt"></i></a>
            </div>

            <!-- new button -->
            <div class="column is-3">
                <a class="main-button">Marketing (Gift Certificates)<i class="fas fa-bolt"></i></a>
            </div>

        </div>
            
    </div>

</div>