%p1em {
  padding: 1em;
}

.muteHover {
  opacity: 0.45;
  &:hover {
    opacity: 1;
  }
}

.mauto {
  margin: 0 auto;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.sm-btn {
  display: inline-block;
  text-transform: capitalize;
  color: var(--accent-1);
  padding: 0.2em 1.5em;
  border-radius: 1em;
  font-weight: 600;
  border: 2px solid var(--accent-1);
  margin-right: 0.25em;
  &:hover {
    color: #fff !important;
    background: var(--accent-1);
  }
  &.solid {
    background: $accent-1;
    color: #fff !important;
  }
  i {
    position: relative;
    top: 1px;
    // padding-right: 0.5em;
  }
  &.green {
    color: $green !important;
    border: 2px solid $green;

    &:hover {
      color: #fff !important;
      background: $green;
    }
  }
  &.white {
    color: $white !important;
    border: 2px solid $white;

    &:hover {
      color: $accent-1 !important;
      background: $white;
    }
  }
  &.red {
    color: $red !important;
    border: 2px solid $red;

    &:hover {
      color: #fff !important;
      background: $red;
    }
  }
  &.yellow {
    color: $yellow !important;
    border: 2px solid $yellow;

    &:hover {
      color: #fff !important;
      background: $yellow;
    }
  }
  &.light {
    color: $light !important;
    border: 2px solid $light;

    &:hover {
      color: #fff !important;
      background: $light;
    }
  }
  &.green-solid {
    background: $green !important;
    border: 2px solid $green;
    color: #fff;
    &:hover {
      background: darken($green, 10%);
    }
  }
  &.red-solid {
    background: $red !important;
    border: 2px solid $red;
    color: #fff;
    &:hover {
      background: darken($red, 10%);
    }
  }
  &.yellow-solid {
    background: $yellow !important;
    border: 2px solid $yellow;
    color: #fff;
    &:hover {
      background: darken($yellow, 10%);
    }
  }
  &.light-solid {
    background: $light !important;
    border: 2px solid $light;
    color: var(--foreground-1);
    &:hover {
      color: var(--foreground-1) !important;
      background: darken($light, 10%);
    }
  }
  &.gray-solid {
    background: $gray !important;
    border: 2px solid $gray;
    color: #fff;
    &:hover {
      background: darken($gray, 10%);
    }
  }
  &.dark-solid {
    background: $dark !important;
    border: 2px solid $dark;
    color: #fff;
    &:hover {
      background: darken($dark, 10%);
    }
  }
}

.sm {
  font-size: 0.85;
}

.column.is-15, .column.is-15-tablet{
  flex: none;
  width: 9.66667%;
}

.column.is-25, .column.is-25-tablet{
  flex: none;
  width: 20%;
}

.limit100vw {
  max-width: 100vw;
  overflow: hidden;

}
.m0p0 {
  padding: 0 !important;
  margin: 0 !important;
}
.brad0 {
  border-radius: 0 !important;
}

.columns {
  // @extend .m0p0; //dev only
  @include bp(M-phone){
    margin: 0 !important;
  }
}

.snap-h {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  .start { scroll-snap-align: start; }
  .center { scroll-snap-align: center; }
  .end { scroll-snap-align: end; }
}
.snap-v {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  .start { scroll-snap-align: start; }
  .center { scroll-snap-align: center; }
  .end { scroll-snap-align: end; }
}

.reverse {
  flex-direction: row-reverse;
}

.mw100 { max-width: 100%; }

.max100{
  max-width: 100vw;
  overflow: hidden;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.fullwidth {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.level-edge {
  max-width: 1%;
}

.limit-width {
  max-width: 1em;
}

.pre-wrap {
  white-space: pre-wrap;
}

.level-item { max-width: 100%; }
.level-left, .level-right { flex-shrink: 1; }

.disabled{
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.disable{
  pointer-events: none;
  cursor: default;
}
$b_deg: 120deg;
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: var(--accent-1);
}

.ttl { text-transform: lowercase !important; }

.z1 {
    z-index: 1;
    position: relative;
}

.z0 {
    z-index: 0;
    position: relative;
}

.tdu {
  text-decoration: underline !important;
}

.ttc {
  text-transform: capitalize;
}

.op0 {
  opacity: 0;
}

.scrollx {
  overflow-x: auto;
}

fwl, .fwl {
  font-weight: lighter;
}

fwb, .fwb {
  font-weight: bold;
}
.mute {opacity: 0.3;}
.oh {overflow: hidden;}
.oxh {overflow-x: hidden !important;}
.ov {overflow: visible;}

%cover {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.block {
  min-width: 80%;
}

.lower {
  text-transform: lowercase;
}

.mw0{
  min-width: 0;
}

.wa{
  width: auto !important;
}

::selection {
    color: #fff;
    background: var(--accent-1);
}
.ps {
  position: static;
}
.stick-bottom {
  position: sticky;
  bottom: 0;
}
.stick-top {
  position: sticky;
  top: 0;
}
.pointer {cursor: pointer;}
.Pointer {cursor: default !important;}
.cursorv { cursor: ns-resize; }
.cursor-move { cursor: move; }
.isText {cursor: text !important;}
.w100 {width: 100%;}
.tac{text-align: center !important }
.tar{text-align: right !important; }
.tal{text-align: left !important; }
.taj{text-align: justify; }
.bold{
  font-weight: bolder !important;
}
.hvr-op{
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}
%font-smoothing {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.dib{
  display: inline-block !important;
}
.anti-centerer {
  position: static !important;
  transform: translate(0) !important;
}
.strike {
  text-decoration: line-through !important;
}
.c0 {color: transparent !important}
.db, db{display: block;}
.dit, db{display: inline-table;}
.p0{padding: 0 !important;}
.m0{margin: 0 !important;}
.mt0{margin-top: 0 !important;}
.ml0 { margin-left: 0 !important; }
.mr0 { margin-right: 0; }
.m1em{margin: 1em !important;}
.mb0{margin-bottom: 0 !important;}
.m2em{margin: 2em !important;}
.mb1em {margin-bottom: 1em !important;}
.mb2em { margin-bottom: 2em; }
.ml1em { margin-left: 1em !important; }
.ml2em { margin-left: 1.5em !important; }
.p1em{padding: 1em !important;}
.pt1em {padding-top: 1em !important;}
.pr2em { padding-right: 2em !important; }
.pr4em { padding-right: 4em !important; }
.pr5em { padding-right: 5em !important; }
.pr4em { padding-right: 4em !important; }
.pr3em { padding-right: 3em !important; }
.pb1em {padding-bottom: 1em;}
.mt1em { margin-top: 1em !important; }
.p2em{padding: 2em !important;}
.pr1em { padding-right: 1em; }
.pl2em { padding-left: 2em; }
.pl4em { padding-left: 4em; }
.pl1em { padding-left: 1em; }
.mr1em {margin-right: 1em !important;}
.pb0{padding-bottom: 0 !important;}
.p3em{padding: 3em !important;}
.p4em{padding: 4em !important;}
.fw500{font-weight: 500;}
.pl0{padding-left: 0 !important;}
.pr0{padding-right: 0 !important;}
.pt0{padding-top: 0 !important;}
.justify{text-align: justify;}
.h100{height: 100%;}
.px1em {padding: 0 1em;}
.py1em {padding: 1em 0;}
.px2em {padding: 0 2em;}
.py2em {padding: 2em 0;}
// .maxw100{max-width: 100%;}
.maxw100{width: 18em !important;}
.pi{position: inherit;}
.pr{position: relative;}
.text-center{text-align: center !important;}
.text-left{text-align: left !important;}
.text-center{text-align: center !important;}

a,
li,
img,
div,
select,
span,
input,
textarea,
button,
:focus,
.field,
.control,
.select,
select:focus,
select:active{
  outline: 0 !important;
  text-decoration: none !important;
  outline: none !important;
}

.o0 {
  opacity: 0;
}

ul.inline{
  list-style: none;
  padding: 0;
  li, a{
    // float: left;
    display: inline-block;
  }
}
.fl{
  float: left;
}

.lg { font-size: 1.2em; }
.md { font-size: 0.9em; }
.sm { font-size: 0.75em; }

.ttu {text-transform: uppercase;}
.hide{
  display: none !important;
}
.scroll{
  overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.scroll-auto{
  overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
}


// quickflex
// @media screen and (min-width: 769px)
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex:not(:last-child) {
    margin-bottom: 0.75rem;
}
.flex {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}


.item {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.m0auto {
  margin: 0 auto;
}

[data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.shade{
  box-shadow: 0px 0px 15px darken($light, 0.5%);
  border: 1px solid lighten($light, 0.75%);
}


.fill {
    display: block;
    height: 100%;
}

// from bootstrap
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.breadcrumb {
  // padding: 8px 15px;
  // margin-bottom: 20px;
  list-style: none;
  // background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
  a {
    opacity: 0.8;
    &:hover{
      opacity: 1
    }
  }
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  // color: #ccc;
  content: "/\00a0";
  content: "|";
  margin-left: -1em;
  font-weight: bolder;
  top: -1px;
  position: relative;
}
.breadcrumb > .active {
  font-weight: bold;
}
.pull-left{ float: left; }
.pull-right{ float: right; }
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hide{display: none !important;}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}


// badge
.badge-success {
    color: #fff;
    background-color: var(--accent-1);
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    //  font-size: 66%;
    // font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.6em;
}

.bloat {
  transform: scale(1.2);
  color: var(--accent-1) !important;
}



@media screen and (min-width: 2000px) {
  body {
    //  font-size: 25px;
  }
  .container {
      max-width: 95%;
      width: 1700px;
  }
}

.scroll {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    // border: 0;
    box-shadow: 0 0 0;
}


.strong {
  // font-weight: bold !important;
}

.b0 {
  border: 0 !important;
}

::-webkit-input-placeholder {
  // color: rgba($bg-3, 0.3);
  color: $foreground-3;
}
::-moz-placeholder {
  // color: rgba($bg-3, 0.3);
  color: $foreground-3;
}
:-ms-input-placeholder {
  // color: rgba($bg-3, 0.3);
  color: $foreground-3;
}
:-moz-placeholder {
  // color: rgba($bg-3, 0.3);
  color: $foreground-3;
}

.icon-default {
  // @extend .fas;
  // @extend .fa-info-circle;
  color: $dark !important;
}

.icon-load {
  // @extend .fas;
  // @extend .fa-circle-notch;
  // @extend .fa-spin;
  color: $green !important;
}

.italic {
  font-style: italic;
  font-weight: 100;
}

.icon-done {
  // @extend .fas;
  // @extend .fa-check-circle;
  color: $green !important;
}

.icon-error {
  // @extend .fas;
  // @extend .fa-times-circle;
  color: var(--accent-1) !important;
}

.ji {
  justify-content: inherit;
}

.no-hover:hover {
  color: initial !important;
}

.bouncey {
  // transition: all 0.3s cubic-bezier(0.68, -0.30, 0.265, 1.30) !important;
  transition: all 0.4s cubic-bezier(0.525, -0.200, 0.360, 1.200) !important;
  &.rotate { @include rotate(180deg); }
}

.horizontal {
  // white-space: nowrap;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important;
}

.button-center{
  display: block;
  text-align: center;
}

p.x {
line-height: 20px;
padding-top: 0.25em;

}

//-- Centerer --//
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerer {
  @include centerer;
}