<div class="columns main-columns m0">
  
  


  <!-- main columns -->
  <div class="main-body column m0">
    <top-bar [pathField]="pathField"></top-bar>
    <hr class="topbar-hr">
    <!-- <app-body (PathUpdate)="pathField = $event" [pathField]="pathField"></app-body> -->
    <app-body 
      (storeUpdate)="updateURL($event, 'store')"
      (PathUpdate)="updateURL($event, 'path')"
      [pathField]="pathField"
    ></app-body>
  </div>




  <!-- sidebar -->
  <div class="main-sidebar column m0 is-2 light-bg">
    <app-sidebar
      [pathField]="pathField"
      [Store]="store"
    ></app-sidebar>
  </div>



</div>

