.main-columns {
    .main-body {
        padding: 2em 5em;
    }
    .main-sidebar {
        height: 100vh;
        overflow: scroll;
        min-width: 250px;
        margin-right: 0;
        padding: 2em;

    }
}

.topbar-hr {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    margin-top: 0;
}