.sidebar-container {
    .column {
        padding: 0 0 0 10px;
    }
    margin-bottom: 30px;
}

.sidebar {
    width: 100%;
    display: block;
    margin-right: 0;
}

.sidebar-link {
    color: rgb(79, 79, 192);
    &:hover {
        color: #11118f;
    }
}

// .sidebar-list {
//     a {
//         text-align: left;
//     }
// }

.input-border {
    border: none;
    border-radius: 3px;
}

#green-bullet {
    color: green;
}

#red-bullet {
    color: red;
}

.button.go-button {
    padding: 5px 8px;
    border-radius: 2px;
    margin-left: 0;
    height: 25px;
    text-transform: none;
    font-weight: lighter;
}
.go-input {
    height: 25px;
}

#sidebar-ul-left {
    margin-left: 20px;
}

.bot-marg {
    margin-bottom: 5px;
    .field {
        width: 100%;
    }
}