<div class="columns sidebar-container right-cols is-multiline">
    
    <div class="column is-12">
        <h4>BigCommerce URLs</h4>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">Partner Portal</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">DevTools</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">Domains</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">SSL Certificates</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">Stencil Docs</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">API Docs</a>
    </div>

</div>


<!-- inputs div -->
<div class="columns sidebar-container right-cols is-multiline">

    <div class="column is-12">
        
        <div class="level-item">
            <div class="field">
                <div class="control">
                    <label for="order-input">Go To Order</label>
                    <input class="input italic" id="order-input" type="text" placeholder="Order#">
                </div>
            </div>
            <a class="button blue-bg white bold go-button">GO</a>
        </div>
    
        <div class="level-item">
            <div class="field">
                <div class="control">
                    <label for="product-input">Search Product</label>
                <input class="input italic" id="product-input" type="text" placeholder="Keyword or Sku">
                </div>
            </div>
            <a class="button blue-bg white bold go-button">GO</a>
        </div>

        <div class="level-item">
            <div class="field">
                <div class="control">
                    <label for="customer-search-input">Search Customers</label>
                <input class="input italic" id="customer-search-input" type="text" placeholder="Keyword/Name/Email">
                </div>
            </div>
            <a class="button blue-bg white bold go-button">GO</a>
        </div>    
    </div>
</div>

<div class="columns sidebar-container right-cols is-multiline">

    <div class="column is-12">
        <div class="level">
            <div class="level-left">
                <h4>Global Notices</h4>
            </div>
            <div class="level-right">
                <a><i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
</div>


<div class="columns sidebar-container right-cols is-multiline">
    <div class="column is-12">
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-circle" id="green-bullet"></i></span><a class="sidebar-link">Holiday Hours</a></li>
            <li><span class="fa-li"><i class="fas fa-circle" id="red-bullet"></i></span><a class="sidebar-link">POD Down</a></li>
        </ul>
    </div>
</div>

