<div class="columns sidebar-container right-cols is-multiline m0 mb1em">
    
    <div class="column is-12">
        <h4>BigCommerce URLs</h4>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">Partner Portal</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">DevTools</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">Domains</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">SSL Certificates</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">Stencil Docs</a>
    </div>

    <div class="column is-12">
        <a class="sidebar-link">API Docs</a>
    </div>

</div>


<!-- inputs div -->
<div class="columns sidebar-container right-cols is-multiline m0 mb1em">

    <div class="column is-12">
        
        <label class="bot-marg" for="order-input">Go To Order</label>
        <div class="level-item bot-marg">
            <div class="field has-addons">
                <div class="control">
                    <input class="input italic go-input" id="order-input" type="text" placeholder="Order#" [(ngModel)]="orderNumber">
                </div>
                <div class="control">
                    <a href={{orderSearchPath}} class="button is-info go-button" (click)="updateOrderPath()" target="_blank">
                        GO
                    </a>
                </div>
            </div>
        </div>
    
        <label class="bot-marg" for="product-input">Search Product</label>
        <div class="level-item bot-marg">
            <div class="field has-addons">
                <div class="control">
                    <input class="input italic go-input" id="product-input" type="text" placeholder="Keyword or Sku">
                </div>
            
                <div class="control">
                    <a class="button is-info go-button">GO</a>
                </div>
            </div>
        </div>

        <label class="bot-marg" for="customer-search-input">Search Customers</label>
        <div class="level-item bot-marg">
            <div class="field has-addons">
                <div class="control">
                    <input class="input italic go-input" id="customer-search-input" type="text" placeholder="Keyword/Name/Email">
                </div>

                <div class="control">
                    <a class="button is-info go-button">GO</a>
                </div>
            </div>
        </div>    
    </div>
</div>

<div class="columns sidebar-container right-cols is-multiline m0 mb1em">

    <div class="column is-12">
        <div class="level">
            <div class="level-left">
                <h4>Global Notices</h4>
            </div>
            <div class="level-right">
                <a><i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
</div>


<div class="columns sidebar-container right-cols is-multiline m0">
    <div class="column is-12">
        <ul class="fa-ul" id="sidebar-ul-left">
            <li><span class="fa-li"><i class="fas fa-circle" id="green-bullet"></i></span><a class="sidebar-link">Holiday Hours</a></li>
            <li><span class="fa-li"><i class="fas fa-circle" id="red-bullet"></i></span><a class="sidebar-link">POD Down</a></li>
        </ul>
    </div>
</div>

