
// tpyography
article {
    a {
        color: $accent-1;
    }
    p, li {
        font-size: 1.3em;
        margin-bottom: 2.25em;
        line-height: 2.2em;
    }
    li.p{
        font-size: inherit !important;
    }
    ul {
        padding-left: 4em;
        list-style: square;
        li {
            margin-bottom: 1.25em;
        }
    }
}

// layout
.page {
    .body-columns {
        margin: 0;
        margin-top: 2em;
    }
    .blog-sidebar {
        margin-left: 2em;
        padding: 0;
    }
}