#product {
    .product-container {
        height: 86vh;
        @extend .scroll;
        position: relative;
        .cols {
            .p-left {}
            .p-right {}
        }
        .p-titlebar {
            width: 100%;
            padding: 1em;
            border-top: 5px solid $light;
            position: sticky;
            z-index: 2;
            bottom: -1px;
            display: block;
            background: #fff;
            .titlebar-container {
            }
            .price-btn {
                color: var(--accent-1);
                border: 1px solid $light;
                margin-right: 1em;
            }
            
        }
        .p-name {
            font-weight: bold;
        }
        .content-area {
            min-height: 100%;
        }
        .product-footer {
            text-align: center;
            padding: 2em;
            padding-bottom: 1em;
            position: relative;
            li {
                @extend .bold_link;
                text-transform: capitalize;
                padding-right: 2em;
                @extend .pointer;
                &:last-child {
                    padding-right: 0;
                }
                &.underline {
                    width: 0px;
                    border: 4px solid var(--accent-1);
                    position: absolute;
                    left: 0;
                    margin-left: 0px;
                    bottom: 0;
                    opacity: 0;
                    @extend .bouncey;
                }
                &:hover { color: var(--accent-1); }
                &.active { color: $dark; }
            }
        }
    }
}

condition-tag {
    .condition-tag {
        background: var(--accent-1);
        display: inline-block;
        width: min-content;
        padding: 0.05em 0.7em;
        padding-top: 0.15em;
        margin-right: 1em;
        border-radius: var(--main-border-radius);
        color: var(--bg-1) !important;
        font-size: 0.85;
        @extend .mono;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        user-select: none;
        &:empty { display: none; }
    }
    &.alt .condition-tag {
        height: 100%;
        margin: 0;
        background: var(--light);
        color: var(--dark) !important;
        font-weight: bold;
        font-weight: lighter;
    }
}









// CNET
.feature-copy {
    // padding-right: 20%;
    margin-top: 2em;
    font-size: 1.1em;
    line-height: 1.95em;
    //  font-weight: 300;
    margin-bottom: 3em;

    p,
    li {}
    li {
        padding-bottom: 0.5em;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5em;
    }

    h3 {
        // font-size: 1.6em;
        margin: 0.25em 0;
        margin-top: 1em;
        @extend h6;
    }

    table {
        @extend .table;
        @extend .is-hoverable;
        @extend .is-fullwidth;
        line-height: 1.6em;

        tr {
            padding: 0.5em 0;
            border-bottom: 1px solid $light;
            display: block;

            th,
            td {
                min-width: 19em;
                margin-left: 2em;
                padding-left: 0;
                border: 0;

                // padding: 0.15em;
                // font-size: 0.9em;
                @include bp(L-phone) {
                    min-width: 50%;
                }

                &[colspan] {
                    padding-top: 2em;
                    padding: 0;
                    margin-left: 0;
                    padding-bottom: 0.5em;
                    display: block;
                    background: #fff;
                    margin: -0.5em 0;
                    @extend h6;

                    &:before {
                        content: '|';
                        height: 2.25em;
                        color: #fff;
                        display: block;
                        background: #fff;
                        // margin-left: -0.5em; //same as padding above
                    }
                }
            }
        }
    }

    @include bp(L-phone) {
        max-width: 100%;
    }
}










//            /$$   /$$    
//           | $$  | $$    
//   /$$$$$$ | $$ /$$$$$$  
//  |____  $$| $$|_  $$_/  
//   /$$$$$$$| $$  | $$    
//  /$$__  $$| $$  | $$ /$$
// |  $$$$$$$| $$  |  $$$$/
//  \_______/|__/   \___/  
[class*="path-product"] {
    .inside-container.t { 
        padding-top: 0 !important;
        padding-right: 1em;
    }
    // &.mode-true {
        [contenteditable="true"] {
            background: rgba($yellow, 0.15);
            &:hover {
                background: rgba($yellow, 0.4);
            }
        }
    // }
}
.product-alt {
    .hiding {
        display: none;
    }
    .show {
        display: block;
    }
    .prod-sec {
        padding-bottom: 2em;
        margin-top: 2em;
        border-bottom: var(--border-width) solid var(--border-color);
        .table-col {
            overflow-x: auto;
            table {
                border: none;
                td {
                    border: none;
                    border-top: var(--border-width) solid var(--border-color);
                    border-bottom: var(--border-width) solid var(--border-color);
                }
            }
        }
        .stick-top {
            top: 5.5em;
        }

        [contenteditable]:not([contenteditable="false"]) {
            background: rgba($yellow, 0.15);
            cursor: text;
            &:hover {
                background: rgba($yellow, 0.4);
            }
        }
    }
    .prod-cols {
        display: grid;
        grid-template-columns: 5fr 1.5fr;
        margin: 0;

        .prod-col {
            .col-inner {
                padding: 2em;
                height: 100%;
            }
            &.left-col {
                h2 {
                    font-size: 1.5em;
                }
                .stick-top.lh {
                    top: 5.5em;
                    z-index: 2;
                }
                .content-area {
                    min-height: 50vh;
                }
                .gallery {
                    top: 14em;
                }
                .thumbnail-wrapper {
                    img {
                        width: 100%;
                        padding: 0 4em;
                    }
                }
            }
        }
    }

    .prod-right {
        // position: sticky;
        // top: 9em;
        position: relative;
        height: 100%;

        .thumbnail-wrapper {
            width: 100%;
            text-align: center;
        }
        
        .side-wrap {
            min-height: 90%;
            .add-ons>h4.stick-top { z-index: 0; }
        }
        .cta-container {
            @extend .stick-bottom;
            // @extend .bt;
            bottom: 3em;
            a.add-btn {
                width: 100%;
            }
            .bold_link {
                margin-top: 0.25em;
                display: block;
            }
            .prices {
                margin-bottom: 1em;
            }
            .condition-item {
                color: var(--foreground-1);
                &.active {
                    color: #fff !important;
                }
            }
        }
    }

    // Smaller viewports: hide old prod-right
    @include bp(M-desktop) { .prod-col.right-col { display: none; } }
    .prod-right-modal {
        .cta-container {
            position: static;
            .prices .bold_link { display: block; }
        }
    }

    .tech-specs {
        td.spec-name {
            min-width: 15em;
            @include bp(M-phone) { min-width: unset; }
        }
        i.gry {
            color: rgba($gray, 0.45);
            &:hover {
                color: $gray;
            }
        }
    }

    section {
        background: #fff;
        padding-bottom: 1em;
        &:first-child {
            padding-top: 0 !important;
            margin-top: -1em;
        }
        h4 {
            border-bottom: $main-border;
            padding-bottom: 0.5em;
            background: var(--bg-1);
        }
        .stick-top {
            top: 3em;
            padding-top: 1em;
            z-index: 1;
        }
    }
    .main-specs {
        .single-spec {
            p.spec-name {}
            p.spec-val {
                margin-top: -0.2em;
                &:hover { color: initial; }
            }
            i {
                position: absolute;
                left: -2em;
                top: 40%;
                &:hover {
                    color: var(--accent-1);
                }
            }
        }
    }
    article {
        ul {
            margin: 0;
            padding-left: 2em;
            // list-style: none;
            li {
                margin-bottom: 1em;
            }
        }
        #product-features {
            ul {
                padding: 0;
                list-style: none;
            }
        }
    }

    .download-val {
        color: var(--red);
    }

    .product-body {
        max-width: 100vw;
    }

    .left-tabs {
        position: relative;
    }

    .product-footer {
        text-align: center;
        z-index: 3;
        background: $bg-1;
        @extend .bt;
        position: sticky;
        bottom: 0;
        
        .prod-footer-name {
            display: block;
            position: relative;
            text-align: center;
            font-weight: bold;
            padding: 1em;
            background: var(--foreground-1);
            color: var(--bg-1);
        }

        ul {
            margin: 1em 2em 2em 2em;
            
            li {
                @extend .bold_link;
                text-transform: capitalize;
                padding-right: 2em;
                user-select: none;
                @extend .pointer;
                @include bp(M-phone) {
                    padding-right: 1em;
                }
    
                &.underline {
                    width: 0px;
                    border: 4px solid var(--accent-1);
                    position: absolute;
                    left: 0;
                    margin-left: 0px;
                    bottom: 0;
                    opacity: 0;
                    margin-bottom: 1em;
                    @extend .bouncey;
                }
    
                &:hover {
                    color: var(--accent-1);
                }
    
                &.active {
                    color: $dark;
                }
    
                &.buy-now {
                    display: none;
                }
            }
        }

    }
    .new-spec {
        height: 2em;
        width: 2em;
        color: #fff;
        background: var(--accent-1);
        position: relative;
        border-radius: var(--main-border-radius);
        i {
            font-weight: bolder;
            @include centerer;
        }
        &:hover {
            background: var(--foreground-1);
        }
    }

    @include bp(M-desktop) {
        .prod-cols {
            grid-template-columns: 1fr;

            .left-col {
                border-right: none;
            }
            .right-col {
                min-height: 60vh;
            }
        }
        .cta-container {
            position: fixed;
            bottom: 0;
        }
        .product-footer {
            
            li.buy-now {
                background: var(--accent-1);
                color: var(--light);
                display: block !important;
                float: right;
                padding-right: 1.3em;
                margin-top: -0.3em;
            }
            
            @include bp(L-tablet) {
                position: fixed;
                width: 100vw;
                left: 0;
                text-align: left;
            }
        }
    }
}




.prod-left-header {
    position: relative;
    margin-bottom: 2em;

    h1 {
        font-size: 1.1em;
        margin: 0;
        padding: 0;
        margin-right: 1em;

        span {
            // color: var(--bg-1);
            color: var(--foreground-1);
        }
    }
    i.sync-status-icon {
        padding-right: 0.5em;
    }
    i.fa {
        position: absolute;
        right: 0.5em;
        top: 2em;
        margin-right: 1em;
        color: darken($light, 15%);
        font-size: 1em;
        // box-shadow: 0px 0px 100px $red;
        @extend .bouncey;
        &:hover {
            color: darken($light, 25%);
        }

        &.favorited {
            color: var(--accent-1) !important;
            font-size: 1.1em;
            // box-shadow: 0px 0px 0px #fff;
        }
    }
}

product-gallery .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: sticky;
    top: 5em;

    image-uploader {
        min-height: 20em;
        grid-column: 1 / 5;
    }
}
product-gallery .gallery-grid_ {
    image-uploader {
    }
    .thumb-item {
        border: 3px solid transparent;
        padding: 0.5em;
        @extend .box-clipped;
        &.active { border-color: var(--accent-1); }
    }
}


.shortdec-only {
    h2 {
        display: none;
    }

    section {
        padding-top: 0;
        display: none;

        &#marketing-description {
            margin: 0;
            display: block;
        }
    }

    p {
        margin: 0;
    }
}

.key-selling-points-only {
    h2 {
        display: none;
    }

    section {
        padding: 0;
        display: none;

        &#key-selling-points {
            margin: 0;
            display: block;
        }
    }
}

/* these classes might need a better home */
.my-products-section {
    margin-bottom: 5em;
    padding: 0;
    .title-block {
        background: var(--foreground-1);
        width: 11%;
        flex: none;
        .title-in {
            position: relative;
            height: 100%;
            h5 {
                color: var(--bg-1);
                margin: 0;
                text-align: center;
                margin-bottom: 1em;
                // @include centerer;
            }
        }
    }
    .sm-btn {
        height: 2.35em;
        margin-left: 3em;
    }
    .title-block_ {
        display: flex;
    }
    .f {
        font-size: 1.25em;
        margin-left: 10px;
    }
    h5 {
        margin-bottom: 1em;
    }
    // @extend .box;
}
product-list {
    display: block;
    height: 100%;
}
.product-list {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-items: center;

    >.product-item {
        @extend .pointer;
        @extend .box;
        margin: 0 !important;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;

        &:hover { border-color: var(--border-color); }

        >img {
            align-self: center;
            padding-left: 1em;
        }
        >.copy-col {
            align-self: center;
            height: 100%;
        }

        .copy-col {
            padding: 1em;
            > .lg { line-height: 1.3em; }
        }
        
    }

    &.horizontal-list {
        // grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
        grid-template-columns: 1fr 1fr 1fr;
        >.product-item {
            width: auto;
            min-width: 15em;
            height: 100%;
        }
    }

    &.bg-1 {
        .copy-col {
            background: var(--bg-1) !important;
        }
    }
    &.clean {
        .copy-col {
            background: transparent !important;
        }
        .inner {
            border: 0 !important;
        }
    }
}

product-header .condition-tag {
    width: unset;
}