#contact {
	.options {
		margin-top: 0.25em;
	}
	.form-title {
		position: relative;
		padding-left: 0.9em;
		margin: 0;
		z-index: 1;
		border: 0;
		margin-top: 1.5em;
		margin-bottom: 1em;
		background: $bg-headers;
		color: $foreground-headers;
		//color: #fff;
		padding: 2.3em;
		margin-top: 0;
		// padding-bottom: 0.5em;
		span {
			font-weight: bolder;
			// position: absolute;
			display: none;
			left: 0;
			font-size: 2.5em;
			color: darken($red, 5%);
			z-index: -1;
			// top: 32%;
		}

		h2 {
			color: $foreground-headers;
			margin: 0;
			padding: 0;
		}
	}

	.call-us {
		//color: $foreground-3;
		padding-right: 1.5em;
		@extend .mono;
		a {
			display: block;

			i {
				//color: $light;
				margin-right: .25em;
			}
		}
	}

	.field {
		float: left;
		width: 50%;
		padding-right: 1em;
	}

	.form-area {
		display: table;
		width: 100%;
	}

	.checkbox-container {
		input {
		    display: none;
		}
		label {
			padding: 0;
			padding: 2.5em 1.2em;
			// background: $dark;
			i {
				color: lighten($dark, 50%);
				font-size: 3em;
			}
			h4 {
				padding-top: 1em;
				text-align: center;
				// color: $light;
				font-size: 1em;
			}
			p {
				
				padding-top: 1em;
			}
			&:hover {
				i {
					color: $accent-1;
				}
			}
			&.active {
				background: $accent-1;
				//color: var(--accent-1);
				//color: $foreground-2;
				i {
					color: var(--bg-1);
				}
				h4{
					color: var(--bg-1);
					// color: $foreground-2;
				}
			}
		}
	}
	.prod {
		padding: 0.25em 1em;
		margin: 7px 0;
		border-radius: 0.24em;
		-webkit-overflow-scrolling: touch;
		background-color: $light;
		color: #000000;
		// overflow-x: auto;
		// white-space: pre;
		// word-wrap: normal;
		position: relative;
		// font-family: monospace;
		font-size: 0.9em;
		input {
			margin-right: 0.5em;
		}
		&:hover {
			.right{opacity: 1;}
			i{ color: var(--accent-1); }
		}

	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(#000, 0.3);
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(#000, 0.3);
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(#000, 0.3);
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: rgba(#000, 0.3);
	}
	.ng-select .ng-select-container {
	    margin-bottom: 1.5em;
	}
	@include bp(L-tablet){
		h2.form-title {
		    padding: 0.6em;
		}
		.p2em:empty {
		    padding: 1em !important;
		}
		.style-1 {
			.field {
				label {
				    font-size: 1em;
				    padding-left: 0.75em;
				    display: block;
				}
			}
		}
	}
	@include bp(L-phone) {
        padding: 0;
        overflow: hidden;
        .options.columns {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch !important;
            white-space: nowrap;
            flex-wrap: nowrap;
            .column {
               width: 45%;
            }
        }
        #related-faqs,
        #cForm {
            padding: 1em 0;
        }
        .field {
            width: 100%;    
            padding-right: 0;
        }
        .checkbox-container {
        	label {
			    padding: 1.5em 1.2em;
			}
		}
		.options{
			margin-left: -0.75em !important;
			margin-right: -0.75em !important;
		}
		.p2em:empty {
		    padding: 0 !important;
		}
	}
	@include bp(M-phone) {
        .checkbox-container {
        	label {
			    padding: 1.5em 0.5em;
			}
		}
	}
	@include bp(S-phone) {
		.options.columns {
            .column {
               width: 60%;
            }
        }
	}
	.button {
		margin-top: 1em;
	}
	h6 {
		display: none;
	}


}

input.button{
	margin-top: 2em;
}


















// #contact .button {
// 	@extend .var(--accent-1);
// color: var(--accent-1);
// 	&:hover {
// 		color: #fff;
// 		background: darken(var(--accent-1), 3%)
// 	}
// }












