//   /$$$$$$                                                      /$$
//  /$$__  $$                                                    | $$
// | $$  \__/ /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$
// |  $$$$$$ | $$  | $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/
//  \____  $$| $$  | $$| $$  \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$
//  /$$  \ $$| $$  | $$| $$  | $$| $$  | $$| $$  | $$| $$        | $$ /$$
// |  $$$$$$/|  $$$$$$/| $$$$$$$/| $$$$$$$/|  $$$$$$/| $$        |  $$$$/
//  \______/  \______/ | $$____/ | $$____/  \______/ |__/         \___/
//                     | $$      | $$
//                     | $$      | $$
//                     |__/      |__/

@mixin ph() { color: rgba(#fff, 0.3); }

#support {
	.support-body{
		.support-aside {
			ul {
				li {
					a{
						text-transform: capitalize;
					}
				}
			}
		}
	}
	@include bp(L-phone) {
		.option-cols {
			 overflow-y: auto;
			 -webkit-overflow-scrolling: touch !important;
			 white-space: nowrap;
			 flex-wrap: nowrap;
			 display: flex;
			 .column {
			   width: 45%;
			 }
		}
		.container {
			padding: 0;
			overflow: hidden;
		}
		#faqs {
			padding: 1em;
		}
	}
	@include bp(M-phone) {
		.p1em:empty {
		    padding: 0 !important;
		}
		.support-main {
		    padding-left: 0;
		    padding-right: 0;
		}
		.option-cols {
		    margin-left: -0.75em !important;
		    margin-right: -0.75em !important;
		}

	}
	.sm-btn {
		margin: 0.5em 0;
	}
}
.icon-list {
	.item {
		.inner {
			text-align: center;
			display: block;
			margin-bottom: 1em;
			border-radius: var(--main-border-radius);
			padding: 1em;
			background: $bg-2;
			margin-bottom: 0;
			position: relative;
			// height: 15em;
			.mtt {
				position: relative;
				bottom: -1em;
			}
			.fig {
				height: 5em;
				position: relative;
				// opacity: 0.7;
				img, i {
					@include centerer;
				}
			}
			img {
				height: 6em;
				padding-bottom: 1em;
				width: auto;
				// opacity: 0.82;
			}
			i {
				font-size: 4em;
				 color: lighten($dark, 50%);
				// padding: 0.5em 1em;
				// background: $blue;
			}
			padding: 1em 3.5em;

			&:hover {
				background: $bg-3;
				i{
					color: $accent-1;
				}
			}
			h4 {
				text-align: center;
				padding-top: 1em;
			}
		}
	}
 	@include bp(L-tablet){
		.item {
			.inner {
				padding: 1em;
			}
		}
	}
    @include bp(M-tablet){
		.item {
			.inner {
				.fig {
				    height: 4em;
				}
				i {
				    font-size: 3em;
				}
			}
		}
	}
	@include bp(L-phone) {
		.item {
			.inner {
				font-size: 0.8em;
				padding: 0;
				.mtt {
				    bottom: 0;
				    padding-top: 1em;
    				padding-bottom: 1em;
				}
				.fig {
				    height: 4em;
				}
				i {
				    font-size: 3em;
				}
			}
		}
	}
}

#related {
	@include bp(L-phone) {
		.column {
			width: 50%;
		}
	}
}