$m: 0.5em;
$h: 3em;

#bulk {

    .ng-placeholder,
    .ng-option-label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .bulk-items .ng-select .ng-select-container .ng-value-container .ng-placeholder {
        color: #000 !important;
    }

    .bulk-inner {
        // display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // margin-bottom: 5em;

        .bulk-header {
            width: 100%;

            a {
                display: inline-block;
                padding: $m;
                padding-left: 0 !important;
                color: rgba(var(--foreground-2), 0.7);
                &:hover { color: var(--foreground-2); }
                &.active { color: var(--accent-1); }
            }
        }

        .bulk-body {
            flex: 1 1 65%;
            margin: $m 0 $m*2 0;

            &.list-mode {
                position: relative;

                textarea {
                    font-size: 1.1em;
                    line-height: 25px; // same as lineHeight in bulk-add.c.ts
                    margin-bottom: 1em;
                }

                .textError {
                    position: absolute;
                    top: 0;
                    left: -2em;
                }
            }

            .bulk-items {
                display: grid;
                margin-bottom: 1em;
                grid-template-columns: 3em auto auto 5em 8em 3em;
                grid-row-gap: 0.75em;
                grid-column-gap: 0.5em;
                align-items: center;
                justify-items: stretch;

                >* {
                    height: 100%;
                }

                >.more-info {
                    background: $bg-2;
                }
                >product-selector {
                    min-width: 0;
                }
                >condition-tag {
                    height: 100%;
                    .condition-tag {
                        height: 100%;
                        min-width: 100%;
                        border-radius: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                >.qty {
                    box-shadow: 0 0 0;
                    border-radius: 0;
                    background: var(--bg-1);
                    border: $control-border;
                    color: var(--foreground-2);
                    font-weight: bold;
                    height: 100%;
                    &:focus {
                        color: var(--foreground-1);
                        border-color: var(--foreground-1);
                    }
                }
                >.price {
                    white-space: nowrap;
                    background: $bg-2;
                    padding: 0.5em;
                    text-align: center;
                }
                >.remove {
                    padding: 0.5em 1em;
                    background: $bg-2;
                    cursor: pointer;
                }
            }

            .ng-select .ng-select-container {
                height: $h;
            }

            .bulk-cto {
                margin-top: 0em;
                position: sticky;
                bottom: 0;
                z-index: 1;
                //background: #fff;
                padding: 1em 0;
                // @extend .bt;
                align-items: end;
                @include bp(M-tablet) {
                    .level-item {
                        justify-content: left;
                        -webkit-justify-content: left;
                    }
                }

            }
            @include bp(M-tablet){
                .sm-btn {
                    margin-top: 1.5em;
                }
                &.list-mode {
                    max-width: 100%;
                    overflow-x: scroll;
                    overflow-y: auto;
                    textarea {
                        height: 14em;
                    }
                }

                .texta-right {
                    min-width: 25em;
                    > .p1em{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }

                .columns {
                    margin-left:0;
                    margin-right:0;
                    .column {}
                }
            }
            @include bp(L-phone){
                .texta-left, .texta-right{
                    padding-left: 0 ;
                    padding-right: 0 ;
                }
                .price-col {min-width: 8em;}
                .level-left + .level-right {margin-top: 1rem;}
            }
            

        }
        [data-tooltip] { z-index: 1; }
        

        .bulk-aside {
            margin-left: 2em;
            max-width: 30em;
            
            .bulk-aside-inner {
                padding: 1.5em;
                background: var(--bg-2);
                border-radius: $main-border-radius;
                
                .field { padding-right: 0; }
            }
        }
    }

    .new-trigger {
        color: rgba($gray, 0.7);
        i { font-size: 1.2em; }
        &:hover { color: var(--accent-1); }
    }
    // @include bp(L-tablet) {
    //     .bulk-inner {
    //         .bulk-body{
    //             &.list-mode {
    //                 width: 100%;
    //                 /*overflow-x: auto;*/
    //             }
    //             .bulk-item {
    //                 .column.is-9_ {
    //                     width: 65%;
    //                 }
    //             }
    //         }

    //     }

    // }
    // @include bp(M-tablet) {
    //     .bulk-inner {
    //         .bulk-header {
    //             a { 
    //                 font-size: 1.5em;
    //             }
    //             .level-left + .level-right {
    //                     margin-top: 0;
    //             }
    //         }
    //         .bulk-body {
    //             &.list-mode {
    //                 width: 100%;
    //                 overflow-x: auto;
    //                 min-height: 50vh;
    //             }
    //         }
    //     }
    // }
    // @include bp(L-phone) {
    //     .bulk-inner .bulk-header {
    //         margin-bottom: 0;
    //     }
    // }

}

.texta-right {
    .example {
        padding: 0.25em $m;
    }
}


.adding-modal {
    .item {
        p {
            font-size: 0.95em;
        }
        i {
            // padding-top: 0.2em !important;
        }
        .loadr {
            height: 0.4em;
            background: $light;
            position: relative;
            .progress {
                position: absolute;
                left: 0;
                height: 100%;
                width: 10%;
                background: $green;
            }
        }
    }
}

