<div class="top-bar style-1">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="inner">
          <h2>
            Quick Links
            <a class="bold_link"><i class="fas fa-sync-alt"></i></a>
          </h2>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">

        <!-- url input -->
        <div class="field">
          <div class="control">
            <input class="input italic" type="text" placeholder="Select a Store Below">
          </div>
        </div>
        <a class="button blue-bg white bold go-button">Go!</a>
        
      </div>
    </div>
  </div>
</div>