<div class="top-bar style-1">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="inner">
          <h2>
            Quick Links
            <a class="bold_link"><i class="fas fa-sync-alt"></i></a>
          </h2>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">

        <!-- url input -->
        <!-- <div class="field has-addons">
          <div class="control">
            <input class="input italic" type="text" placeholder="Select a Store Below">
          </div>
          <div class="control">
            <a class="button blue-bg white bold is-info">Go!</a>
          </div>
        </div> -->

        <div class="field has-addons">
          <div class="control">
            <input class="input go-input italic lg tar" id="repo-input" type="text" placeholder="path" [(ngModel)]="pathField">
          </div>
          <div class="control">
            <a href={{pathField}} class="button blue-bg is-info go-button" id="repo-go-button" target="_blank"> Go! </a>
          </div>
        </div>
          
      </div>
    </div>
  </div>
</div>